body{
   
 
    background-color:beige;
 
}

#box{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
}
img{
    width: 150px;
    height: auto;
}
.navbar-toggler{
    color: white;
    border: 2px solid crimson;
}

#items ul li{
   padding: 20px;
    justify-content: center;
    text-align-last: center;
     border-radius: 30px;
}
#items ul li form input{
    border-radius: 0%;
    justify-content: center;
    text-align-last: center;
    background-color: transparent;
}
#items ul li form button{
    width: 80px;
    border-radius: 20px;
    height: 39px;
    justify-content: center;
     text-align-last: center;
   background-color: transparent;
}
#items ul li .cool-link:hover{
    background-color: crimson;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
/*
.dropdown-menu{
    width: 100%;
    height: auto;
    background-color:rgba(0,0,0,0.8);
   
    text-align: center;
    border-radius: 30px;
   overflow: hidden;
}
.dropdown-menu li a{
     color: white;
    text-decoration: none;
}
.dropdown-menu li{
    list-style: none;
     border-radius: 0px;
}
.dropdown-menu li:hover{
    background-color:crimson;
    opacity: 1;
   
    transition: 0.3s ease-in-out;
}*/
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-container li a{
    color: white;
    text-decoration: none;
}
.flex-container li{
    list-style: none;
     border-radius: 0%;
    
}
.flex-container li:hover{
    background-color:crimson;
    opacity: 1;
   
    transition: 0.3s ease-in-out;
}

.dropleft ul {
    padding:10px 50px;
    background-color:firebrick;
}
.dropleft ul li{
    color: white;
    
}
.dropleft ul li:hover{
    background-color: transparent;
    border-bottom:2px solid yellow;
    transition: 0.2s ease-in-out;
    color: white;
    border-radius: 0%;
}
.dropleft ul li img{
    border-radius: 50%;
    list-style: none;
    width: 70px;
    height: auto;
}

.heading{
    padding: 0;
    margin: 0;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}
.heading{
   

    
}
.heading img{
    width: 400px;
    height: auto;
}
.imgbx img{
    width: 550px;
    height: auto;
   
}
section{
    height: auto;
    display: flex;
    padding: 30px;
   
}
section div{
    padding: 30px;
    
} 


footer{
    width: 100%;
    height: auto;
    background-color:black;
    color: white;
}
#footer{
    display: flex;
    padding: 30px;
}
footer li{
    list-style: none;
}
hr{
    height: 0.5px;
   background-color: aliceblue;
}
#myname{
    margin-left:40%;
    color: white;
}